{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <div id="my_container" class="bg-white" style="width: 60%;margin-left: 20%;">
        <main>

            <div class="container">
        
                <div class="gallery" id="gallery">
        
                </div>
                <!-- End of gallery -->
        
        
            </div>
            <!-- End of container -->
        
        </main>
    </div>


    <link rel="stylesheet" href="{% static 'css/discover.css' %}">
    <script src="{% static 'js/discover.js' %}"></script>
{% endblock content %}
