{% extends 'base.html' %}

{% block content%}
    {% load static %}


    <div style="width: 50%;margin-left: 25%;">
        <div class="card card0">
            <div class="d-flex flex-lg-row flex-column-reverse">
                <div class="card card1">
                    <div class="row justify-content-center my-auto">
                        <div class="col-md-8 col-10 my-5">
                            <h3 class="mb-5 text-center heading">Welcome user</h3>
                            <h6 class="msg-info">Please login to your account</h6>
                            <div class="form-group"> <label class="form-control-label text-muted">Username</label> <input type="text" id="username-input" placeholder="Username" class="form-control"> </div>
                            <div class="form-group"> <label class="form-control-label text-muted">Password</label> <input type="password" id="password-input" placeholder="Password" class="form-control"> </div>
                            <div class="row justify-content-center my-3 px-3"> <button id="login-btn" class="btn-block btn-color">Login</button> </div>
                            <div class="row justify-content-center my-2"> <a href="#"><small class="text-muted">Forgot Password?</small></a> </div>
                        </div>
                    </div>
                    <div class="bottom text-center mb-5">
                        <p href="#" class="sm-text mx-auto mb-3">Don't have an account?<a href="{% url 'frontend:register' %}" class="btn btn-white ml-2">Create new</a></p>
                    </div>
                </div>
                <div class="card card2">
                    <div class="my-auto mx-md-5 px-md-5 right">
                        <h3 class="text-white">Social Media App</h3> <small class="text-white">Connect with the world and chat with family and friends!</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

      
    <script src="{% static 'js/login.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock content %}